body{
    background-color: rgb(101, 194, 223);

}

.tt{
    height: 200px;
    width: 200px;
    margin-left: 20%;
    margin-top: 10%;

}


.home{

    height: 50px;
    width: 50px;
}

.discord{
    height: 170px;
    width: 200px;
    margin-left: 20%;
    margin-top: 40px;
}